<div class="d-flex flex-column p-1">
	<span class="mb-1">
		@(Attributes?.SingleOrDefault(kvp => kvp.Key == "label").Value ?? typeof(Address).Name)
	</span>
	<div class="d-flex flex-row">
		@ChildContent
	</div>
</div>
@code {
	[Parameter]
	public Address Value { get; set; }
	[Parameter]
	public IEnumerable<KeyValuePair<String, Object>> Attributes { get; set; }
	[Parameter]
	public RenderFragment ChildContent { get; set; }
}