<div class="form-check m-1">
	@ChildContent
	@if (Label != null)
	{
		<label class="form-check-label" for="@(Attributes?.FirstOrDefault(kvp => kvp.Key == "id").Value ?? String.Empty)">
			@Label
		</label>
	}
</div>
@code {
	[Parameter]
	public Boolean Value { get; set; }
	[Parameter]
	public IEnumerable<KeyValuePair<String, Object>> Attributes { get; set; }
	[Parameter]
	public RenderFragment ChildContent { get; set; }

	private Object? _label;
	private Object? Label => _label ??= (Attributes?.FirstOrDefault(kvp => kvp.Key == "placeholder").Value ?? Attributes?.FirstOrDefault(kvp => kvp.Key == "label").Value);
}