@typeparam T
<div class="form-floating m-@Margin">
	@ChildContent
	<label for="@((Attributes?.TryGetValue("id", out var id) ?? false) ? id : String.Empty)">@((Attributes?.TryGetValue("placeholder", out var label) ?? false) ? label : nameof(Value))</label>
</div>
@code {
	[Parameter]
	public T Value { get; set; }
	[Parameter]
	public IDictionary<String, Object> Attributes { get; set; }
	[Parameter]
	public RenderFragment ChildContent { get; set; }

	protected virtual Byte Margin { get; } = 0;
}