@page "/"
@using TestApp.Data
@using TestApp.Models.NestedNamespace

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<div class="d-block flex-column">
	<AutoControl @bind-Value="_models" />
	<button class="btn btn-outline-primary" @onclick="()=>_models.Add(new MyModel())">
		More
	</button>
</div>

<ul>
	@foreach (var model in _models)
	{
		<li>
			@model
		</li>
	}
</ul>

@code {
	private List<MyModel> _models = new List<MyModel>();
}
