@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<AutoControl @bind-Value="Person" Attributes="_attributes"/>

@Person

<TestControl/>

@code {
	private readonly Dictionary<String, Object> _attributes = new()
	{
		{"class", "form-group"}
	};

	private Person Person { get; set; } = new Person();
}
