@page "/"
@using TestApp.Models

<AutoForm.Blazor.AutoControl @bind-Value="Model" />

<span>
	@(nameof(MyModel.Name)) : @(Model.Name)
</span>

@code {
	private MyModel Model { get; set; } = new MyModel();
}