@page "/"
@using TestApp.Data
@using TestApp.Models.NestedNamespace

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<EditForm Model="_model">
	<DataAnnotationsValidator />
	<AutoControl @bind-Value="_model" />
</EditForm>

<input @bind-value="@_model.Name" />

<h5>
	@_model.Name
</h5>

@code {
	private Models.NestedNamespace.MyModel _model = new();
}
