<div class="input-group">
	<div class="input-group-text">
		@typeof(Person.Address).Name
	</div>
	<AutoControl Value="Value" ValueChanged="ValueChanged" Attributes="Attributes" />
</div>
@code {
	[Parameter]
	public Person.Address Value { get; set; }
	[Parameter]
	public EventCallback<Person.Address> ValueChanged { get; set; }
	[Parameter]
	public IEnumerable<KeyValuePair<String, Object>> Attributes { get; set; }
}