<span>@nameof(Address)</span>
<AutoControl Value="Value" ValueChanged="ValueChanged" Attributes="Attributes" />
@code {
	[Parameter]
	public Address Value { get; set; }
	[Parameter]
	public EventCallback<Address> ValueChanged { get; set; }
	[Parameter]
	public IEnumerable<KeyValuePair<String, Object>> Attributes { get; set; }
}