<div class="input-group mb-3" @attributes="Attributes">
	<span class="input-group-text">
		@(Attributes?.SingleOrDefault(kvp=>kvp.Key == "label").Value ?? typeof(PersonList.Address).Name)
	</span>
	<AutoControl Value="Value" ValueChanged="ValueChanged" />
</div>
@code {
	[Parameter]
	public PersonList.Address Value { get; set; }
	[Parameter]
	public EventCallback<PersonList.Address> ValueChanged { get; set; }
	[Parameter]
	public IEnumerable<KeyValuePair<String, Object>> Attributes { get; set; }
}