<span>@nameof(Person.Address)</span>
<AutoControl Value="Value" ValueChanged="ValueChanged" Attributes="Attributes" />
@code {
	[Parameter]
	public Person.Address Value { get; set; }
	[Parameter]
	public EventCallback<Person.Address> ValueChanged { get; set; }
	[Parameter]
	public IEnumerable<KeyValuePair<String, Object>> Attributes { get; set; }
}