@typeparam TModel
@if (Value != null)
{
	<div class="d-inline-flex flex-column" @attributes="Attributes">
		@foreach (TModel model in Value)
		{
			<div class="card mb-2">
				<AutoControl TModel="TModel" Value="model" ValueChanged="(TModel m)=>this.SubControlChanged()" />
				<div class="card-body">
					<button class="btn btn-sm btn-outline-danger" @onclick="()=>Remove(model)">
						Remove
					</button>
				</div>
			</div>
		}
		@if (ModelFactory != null)
		{
			<div class="card">
				<div class="card-footer d-flex justify-content-center">
					<button class="btn btn-sm btn-outline-primary flex-shrink-1" @onclick="Add">
						Add
					</button>
				</div>
			</div>
		}
	</div>
}
